@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
   background-color: rgb(218, 179, 218);
font-family: "Roboto", sans-serif;
}

h1{
   color: red;
}

.text-red{
    color: red;
}

